<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="com.ludei.usericon.ios"
    version="1.0.1">

    <name>User Icon Plugin</name>

    <description>
        Sets the user plugin in the project
    </description>

    <license>Copyright Ludei</license>

    <engines>
        <!-- Requires > 3.3.* because of the custom Framework tag for iOS [CB-5238] -->
        <engine name="cordova" version=">=3.5.0" />
    </engines>

    <platform name="ios">
        <hook type="after_prepare" src="scripts/after_prepare.js" />
    </platform>
</plugin>
